* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #eee;
}

body {
    background-color: #2d353f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.title {
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 20px;
    text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.2);
}

.title span {
    font-size: 9em;
}

.title i {
    color: #5881b1;
    font-size: 8em;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    animation: rotateAnimation 2s alternate-reverse infinite;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.message {
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 1.8em;
}

button {
    background-color: transparent;
    outline: none;
    border: 2px solid #5881b1;
    padding: 12px 48px;
    margin: 32px;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

button:hover {
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}